{% extends "base.html" %} {% block content %} {%if request.user.is_authenticated%}

<script>
    async function sendMessage() {
        let fd = new FormData();
        let token = '{{ csrf_token }}';
        let d = new Date().toISOString().split('T')[0].split('-');
        fd.append('textmessage', messageField.value);
        fd.append("csrfmiddlewaretoken", token);
        try {
            messageContainer.innerHTML += `
            <div id="deleteMessage">
                <span class="text-grey">[${d[1]}/${d[2]}/${d[0]}] {{ request.user }}: </span> <i class="text-grey"> ${messageField.value}</i>
            </div>
            `;
            let response = await fetch('/chat/', {
                method: 'POST',
                body: fd
            })
            let json = await response.json();
            let obj = JSON.parse(json);
            console.log(obj);
            deleteMessage.remove();
            messageContainer.innerHTML += `
            <div id="deleteMessage">
                <span class="text-grey">[${obj.fields.created_at}] {{ request.user }}: </span> <i> ${messageField.value}</i>
            </div>
            `;
        } catch (e) {
            console.error('an error occured', e)
        }
    }
</script>
<div id="messageContainer">
    {% for message in messages %}
    <div>
        <span class="text-grey">[{{message.created_at}}]</span> {{message.author.first_name}}: {{message.text}}
    </div>
    {% endfor %}
</div>
<form onsubmit="sendMessage(); return false;" method="post">
    {% csrf_token %}
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" name="textmessage" id="messageField" />
        <label class="mdl-textfield__label" for="messageField">Text...</label>
    </div>

    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Send
    </button>
</form>
{%else%}
<h1>Not logged in!</h1>
<p>
    You are not logged in. Please log in <a href="/login/">here</a>.
</p>
{%endif%} {% endblock %}