 {% extends "base.html" %} {% block content %}

<h1>Login</h1>

{%if wrongPassword%}
<p>Username or password is not correct!</p>
{%endif%}

<form class="form-login" action="/login/" method="POST">
    {% csrf_token %}
    <input type="hidden" name="redirect" value="{{ redirect }}">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" placeholder="Text..." type="text" name="username" id="sample3" />

    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" placeholder="Password..." type="password" name="password" id="sample3" />

    </div>

    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Login
    </button>

</form>

<p>Not a user? Please sign up <a href="/register/"> here.</a></p>
{% endblock %}